body{
    margin: 0;
    padding-top: 50px;
    padding-right: 300px;
    padding-left: 300px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#categoriesContainerDiv{
    display: flex;
    justify-content: space-around;
    height: 100%;
    max-height: auto;

}
#toDoCategoryDiv{

    flex-grow: 1;
}
#inProgressCategoryDiv{

    flex-grow: 1;
}
#underReviewCategoryDiv{
    flex-grow: 1;
}
#finishedCategoryDiv{
    flex-grow: 1;
}

.category{
    margin: 10px 10px 10px 10px;
}

.categoryTitleAndLogoContainerDiv{
    display: flex;
    justify-content: space-between;
    margin-right: 2px;
    margin-left: 2px;
    min-height: 5%;
}

.categoryTitleDiv{
    display: flex;
    align-items: center;
    min-height: 10px;
    min-width: 150px;
    font-weight: 700;
    
}

.categoryLogoDiv{

    min-height: 10px;
    min-width: 30px;
    display: flex;
}

.logoImg{
    display: block;
    margin: auto;
}

.buttonContainerDiv{
    background-color: rgb(34, 31, 31);
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;;
}
.buttonPlusSign{
    color: white;
    font-size: 15px
}
.addTaskButtonDiv{
    color: white;
    font-size: 17px
}


.tasksContainers{

    padding-bottom: 10px;

}
.taskContainerDiv{
    min-height: 70px;
    display: block;
    background-color: rgb(245, 245, 241);
    border: 1px solid rgb(205, 203, 203);
    
}
.task{
    margin: auto;
    padding-top: 7px;
}

.taskPriorityDateTimeContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;

}
.taskPriorityAndDateContainer{
    display: flex;
    align-items: center;

}
.dateLogoAndDateContainer{
    display: flex;
    align-items: center;
}

